1) Write a program to subtract two complex numbers in Python.

In [2]:
j=2
print("Addition of two complex numbers : ",(6+3j)+(3-2j))

Addition of two complex numbers :  (9+1j)

2) Write a program to find the fourth root of a number.

In [3]:
n=6

print('Fourth root of a number is ',n**4 )

Fourth root of a number is  1296

3) Write a program to swap two numbers in Python with the help of a temporary variable.

In [7]:
a = 5
b = 10

temp = a
a = b
b = temp

print('The value of a after swapping is:',a)
print('The value of b after swapping is:', b)

The value of a after swapping is: 10
The value of b after swapping is: 5

4) Write a program to swap two numbers in Python without using a temporary variable.

In [8]:
a = 10
b = 5
   
a=a+b
b=a-b  
a=a-b
print('The value of a after swapping is:',a)
print('The value of b after swapping is:', b)

The value of a after swapping is: 5
The value of b after swapping is: 10

5) Write a program to convert fahrenheit to kelvin and celsius both.

In [11]:
F=90
k = 273.5 + ((F - 32.0) * (5.0/9.0)) 
print('Temperature in Kelvin ( K ) is ', k)

Temperature in Kelvin ( K ) is  305.72222222222223

6) Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

In [15]:
a = 10
print(type(a))

b= 10.2
print(type(b))

c= 'vignesh'
print(type(c))

d= True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>